exportClasses(ModelMPG)

export(
  ModelMPG,
  calculate,
  getTable
  )

exportMethods(
  show,
  calculateModel
  )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BiocGenerics)
import(httpuv)
import(jsonlite)
