exportClasses(Chinook)

export(
  Chinook
  )

exportMethods(
  show,
  run,
  version,
  closeWebSocket,
  port
  )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BiocGenerics)
import(httpuv)
import(jsonlite)
